@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;700&display=swap');

* {
    font-family: 'Ubuntu', sans-serif;
    /* font-size: 62.5%; */
}

*,
*::before,
*::after {
	box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {
}

.container {
    margin: auto;    
    max-width: 416px;
    width: 100%;
}

.divisor {
    align-items: center;
    display: flex;
    gap: 1rem;
    justify-content: center;
    margin: 2.4rem 0;
}

.divisor hr {
    height: 0;
    width: 80%;
}

.form{
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
}
.form-group {
    display: flex;
    justify-content: space-between;
}
.form-group .form-field {
    width: 47%;
}
.form-field {
    /* border: 1px dotted gray; */
}
.form-field input {
    width: -webkit-fill-available;
}
.form-field.terms-conditions {
    align-items: flex-start;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
}
.terms-conditions label {
    /* border: 1px dotted gray; */
    color: #6E6D7A;
    font-size: .9rem;
    font-weight: normal;
    line-height: 1rem;
    width: 95%;
}
.terms-conditions input {
    /* border: 1px dotted orangered; */
    width: 1rem;
}
.form-button {
    text-align: center;
}

label {
    color: #0D0C22;
    font-weight: 700;
}

input {
    background-color: #f3f3f4;
    margin-top: 0.3rem;
    outline: none;
}

input:not([type="checkbox"]) {
    border-radius: .25rem;;
    border: 1px solid #f3f3f4;
    padding: 10px 16px;
}

input[type="password"]::placeholder {
    font-size: 1rem;
}

label, input {
    display: block;
}

.footer p {
    color: #9e9ea7;
    font-size: .75rem;
}